node_modules
.env

# Packer
relajet-kws-web/packer/.env.sh

# Terraform
relajet-kws-web/terraform/.env.sh
relajet-kws-web/terraform/.terraform
relajet-kws-web/terraform.tfstate
relajet-kws-web/terraform.tfstate.backup

# private keys
relajet-kws-web/privateKeyFiles/aws/*